<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkMinify - Minimize Your Links Efficiently</title>
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <!-- Semantic Header with navigation -->
    <header>
        <div class="branding">
            <h1 id="logo">LinkMinify</h1>
        </div>
        <nav aria-label="Main navigation">
            <ul class="sidebar">
                <li class="navigation-item " onClick=hideSidebar()><a href="#" class="nav-link"><svg
                            xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path
                                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                                fill="#FFFFFF" />
                        </svg></a></li>
                <li class="navigation-item"><a href="/" class="nav-link">Home</a></li>
                <li class="navigation-item"><a href="/register" class="nav-link">Start for Free</a></li>
            </ul>
            <ul class="navigation-list">
                <li class="navigation-item hidden"><a href="/" class="nav-link">Home</a></li>
                <li class="navigation-item hidden"><a href="/register" class="nav-link">Start for Free</a></li>
                <li class="navigation-item menu-btn" onClick=showSidebar()><a href="#"><svg
                            xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26">
                            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
                                fill="#FFFFFF" />
                        </svg></a></li>
            </ul>
        </nav>
    </header>

    <!-- Main content area -->
    <main>
        <section>
            <h1 class="visually-hidden">Shorten Your Links in a Snap!</h1>
            <p>Make your long URLs <span class="underline-text">manageable</span>, <span class="underline-text">
                    trackable</span>, and <span class="underline-text">shareable</span> with just
                a click.</p>
            <div class=" wrapper">
                <form autocomplete="off" id="shorten-form" aria-labelledby="shorten-url">
                    <input type="url" name="url" id="url" placeholder="Enter your link here...." required
                        aria-required="true" autofocus="false">
                    <button type="submit" class="shorten-button">Shorten</button>
                </form>

                <div id="shortened-url" aria-live="polite">
                    <input type="text" class="shortened-url-text" disabled>
                    <button id="copy-button" aria-label="Copy to clipboard"><i class='bx bx-copy'
                            style='color:#ffffff'></i>Copy Link</button>
                </div>
            </div>
        </section>
    </main>

    <!-- JavaScript Files -->
    <script src="/js/index.js"></script>
</body>

</html>

</html>