<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Implemented</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #202020;
            background-image: radial-gradient(var(--color-dots) 0.8px,
                    transparent 0.8px),
                radial-gradient(#dff54f45 0.8px, #202020 0.8px);
            background-size: 32px 32px;
            background-position: 0 0, 16px 16px;
            color: #fff;
        }

        .container {
            text-align: center;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background: #ff4a4a;
            box-shadow: 0 2px 4px rgba(215, 117, 117, 0.1);
        }

        h1 {
            margin: 0 0 10px 0;
        }

        p {
            margin: 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>!</h1>
        <h1>Not Implemented</h1>
        <p>This page is not yet implemented. Please check back later.</p>
    </div>
</body>

</html>