@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* fonts 1*/
    --font-family-1: "Inter", sans-serif;
    --font-weight-light-1: 300;
    --font-weight-regular-1: 400;
    --font-weight-medium-1: 500;
    --font-weight-semi-bold-1: 600;
    --font-weight-bold-1: 700;
    --font-weight-extra-bold-1: 800;
    --font-weight-black-1: 900;

    /* fonts 2 */
    --font-family-2: "Poppins", sans-serif;
    --font-weight-light-2: 300;
    --font-weight-regular-2: 400;
    --font-weight-medium-2: 500;
    --font-weight-semi-bold-2: 600;
    --font-weight-bold-2: 700;
    --font-weight-extra-bold-2: 800;
    --font-weight-black-2: 900;

    /* colors */
    --color-dots: #dff54f45;
    --color-secondary: #202020;
    --color-primary: #3361cf;
}

body {
    background-color: var(--color-secondary);
    background-image: radial-gradient(
            var(--color-dots) 0.8px,
            transparent 0.8px
        ),
        radial-gradient(var(--color-dots) 0.8px, var(--color-secondary) 0.8px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-secondary);
    border-bottom: 1px solid #fff;
    font-family: var(--font-family-2);
    font-weight: var(--font-weight-medium-2);
}

header nav ul {
    display: flex;
    align-items: center;
}
.navigation-item {
    margin-right: 1rem;
    list-style-type: none;
}

.navigation-item .nav-link {
    color: #fff;
    text-decoration: none;
}
.navigation-item a[href="/register"] {
    background-color: #3361cf;
    padding: 0.5rem 1rem;
}

main section {
    display: grid;
    place-items: center;
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-regular-1);
    padding: 2rem;
}

.visually-hidden {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    text-transform: uppercase;
    /* font-size: 4rem; */
    font-size: clamp(1.275rem, 0.6172rem + 3.7586vw, 4rem);
}

main section p {
    font-family: var(--font-family-2);
    font-weight: var(--font-weight-regular-2);
    text-align: center;
}

.underline-text {
    text-decoration: underline dotted var(--color-primary);
    text-underline-offset: 0.2em;
}

/* CSS for the shorten form */
.wrapper {
    width: 550px;
    margin: 0 auto;
    display: block;
    margin-top: 25px;
}

#shorten-form input[type="url"] {
    background-color: #1d1e20;
    border: 2px solid #585a5b;
    border-radius: 4px;
    padding: 0.95rem;
    width: 470px;
    color: #fff;
    outline: none;
}

#shorten-form button[type="submit"] {
    padding: 0.95rem;
    width: 75px;
    background-color: #1d1e20;
    border: 2px solid #585a5b;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

/* CSS for the shortened URL section */
#shortened-url {
    display: flex;
    align-items: center;
    gap: 0.45rem;
    margin-top: 0.45rem;
}

#shortened-url input.shortened-url-text {
    background-color: #1d1e20;
    border: 2px solid #585a5b;
    border-radius: 4px;
    padding: 0.95rem;
    width: 427px;
}

#copy-button {
    padding: 0.95rem;
    display: flex;
    align-items: center;
    background-color: #1d1e20;
    border: 2px solid #585a5b;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

#copy-button i {
    margin-right: 0.45rem;
    font-size: 0.95rem;
}

/* Toast Container */
.toast-container {
    position: fixed;
    z-index: 10000;
    bottom: 20px;
    right: 20px;
    max-width: 300px;
}
/* Toast */
.toast {
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    color: white;
    font-family: var(--font-family-1);
    padding: 16px;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    opacity: 1;
    transform: translateX(100%);
}

.toast-show {
    opacity: 1;
    transform: translateX(0);
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(32, 32, 32, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 250px;
    height: 100vh;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.sidebar li {
    text-align: center;
    width: 100%;
    padding: 1rem !important;
    margin-bottom: 0.125rem;
}
.menu-btn {
    display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        padding: 0 1rem;
    }
    .wrapper {
        width: 100%;
        padding: 0 1rem;
    }

    #shorten-form input[type="url"] {
        width: 100%;
    }

    #shorten-form button[type="submit"] {
        width: 100%;
        margin-top: 1rem;
    }

    #shortened-url input.shortened-url-text {
        width: 100%;
    }

    #copy-button {
        width: 70%;
    }

    .navigation-item {
        margin-right: 0;
    }

    .hidden {
        display: none;
    }
    .menu-btn {
        display: block;
    }
    main section p {
        font-size: 0.75rem;
    }
}
